{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Регистрация</h2>
    <form method="post" class="mt-4" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="login">Логин</label>
            {{ form.login(class="form-control", id="login") }}
            {% for error in form.login.errors %}
                <div class="alert alert-danger mt-1">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="name">Имя</label>
            {{ form.name(class="form-control", id="name") }}
            {% for error in form.name.errors %}
                <div class="alert alert-danger mt-1">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="about">О себе</label>
            {{ form.about(class="form-control", id="about") }}
            {% for error in form.about.errors %}
                <div class="alert alert-danger mt-1">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="avatar">Аватар</label>
            {{ form.avatar(class="form-control-file", id="avatar") }}
            {% for error in form.avatar.errors %}
                <div class="alert alert-danger mt-1">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            {{ form.password(class="form-control", id="password") }}
            {% for error in form.password.errors %}
                <div class="alert alert-danger mt-1">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="password_again">Повторите пароль</label>
            {{ form.password_again(class="form-control", id="password_again") }}
            {% for error in form.password_again.errors %}
                <div class="alert alert-danger mt-1">{{ error }}</div>
            {% endfor %}
        </div>
        {% if message %}
        <div class="alert alert-danger mt-3">
            {{ message }}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary mt-3">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}